@font-face {
    font-family: 'heavyweight';
    src: asset_url('heavyweight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

::-moz-selection { /* Code for Firefox */
    color: grey;
    background: rgba(200, 200, 200, .5);
}

::selection {
    color: grey; 
    background: rgba(200, 200, 200, .5);
}

.btn {
  border-radius: 0;
}

.brand {
  margin-top:10px;
}

.jumbo {
  width: 75%;
  margin: 0 auto;
  padding:150px 0px;
  color: white;
  text-align: center;
}

.jumbo-xs {
  width: 75%;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 85px;
}

.jumboh1 {
  font-weight: bold;
  font-family: helvetica;
  font-size: 55px;
  margin-top: -20px;
}

.iphone-background {
  background-image: url("iphone.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  background-position-y: -90px;
}

.clock {
  position: absolute;
  right:15px;
  font-size:120%;
}
.insane {
  font-family:'heavyweight';
  font-size:1000%;
}

.top-nav {
  position: absolute;
  right: 15px;
}

.navbar-default {
  background-color: darkorange;
  border-color: none;
  border-radius: 0;
}

.footer {
  border-top:1px solid #eee;
  padding:20px 20px;
  margin-bottom: 100px;
}

ul {
  list-style: none;
  margin-left: 0;
}

.post-body {
  height:350px !important;
  border:none;
  width:100%;
  border-left:1px solid #eee;
  margin-top:10px;
  padding:10px;
  font-size:110%;
}

.post-title {
  width: 100%;
  padding: 5px 9px 0 9px;
  font-size: 35px;
  border: none;
}
.title-text {
  font-size: 35px;
}

.post-subtitle {
  width: 100%;
  padding: 5px 9px 0 9px;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
.subtitle-text {
  font-size: 18px;
  font-weight: bold;
}

.post-url {
  width: 100%;
  padding: 5px 9px 0 9px;
  font-size: 14px;
  border: none;
}

.indent {
  text-indent: 20px;
}

@media(min-width:768px){
  .body-text {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}

.body-text {
  font-size:110%;
  word-wrap: break-word; /*normal*/
}

.post-body:focus, .post-subtitle:focus, .post-title:focus, .post-url:focus { 
  border-bottom: 1px solid #eee;
  outline: none; 
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.paypal-button {
  background: url('paypal_button.png') no-repeat 0 0;
  width: 186px;
  height: 41px;
  display: inline-block;
  text-indent: -9999px;
  background-size: 180px;
  background-position-y: -2px;
  position: relative;
  top: 16px;
}

.paypal-button:hover { background-position: 0 -42px; }