<ng-include src="'navbar.html'"></ng-include>
<div ng-view=""></div>
<br>
<br>
<div class="container">
  <div class="footer">
    <div class="pull-left">&copy; Second Street Post LLC</div>
  </div>
</div>