<div class="clearfix">
  <div class='col-xs-12 border-bottom'>
    <div class="pull-left">
      <h3 class='brand'>
        <a href="/">Gonzzzo.com</a> <small class="hidden-xs">Independent, Investagive Journalists Backed by the Crowd</small>
      </h3>
    </div>
    <div ng-controller="NavbarCtrl">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="current_user"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
        <!-- <li class="clock hidden-xs"><small><digital-clock></digital-clock></small></li> -->
        <li ng-hide="current_user" ng-hide="current_user"><a href="#" data-toggle="modal" data-target="#signUpModal">Sign Up</a></li>
        <li class="dropdown" ng-show="current_user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Notification Settings</a></li>
            <li class="divider"></li>
            <li><a href="/journalist/{{current_user.id}}" ng-show="current_user.accepted_at">Dashboard</a></li>
            <li><a href="/new/journalist" ng-hide="current_user.accepted_at || current_user.rejected_at || current_user.requested_at">Become a CN Journalist</a></li>
            <li><a href="/admin" ng-show="current_user.admin">Admin</a></li>            
            <li class="divider"></li>
            <li ><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</div>

<div class="row">
  <alert ng-repeat="alert in globalAlerts" type="{{alert.type}}" close="alert.close()">{{alert.msg}}</alert>
</div>

<!-- <nav class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </li>
        <li ng-hide="current_user"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
        <li ng-hide="current_user" ng-hide="current_user"><a href="#" data-toggle="modal" data-target="#signUpModal">Sign Up</a></li>
        <li class="dropdown" ng-show="current_user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Notification Settings</a></li>
            <li class="divider"></li>
            <li><a href="/journalist/{{current_user.id}}" ng-show="current_user.accepted_at">Dashboard</a></li>
            <li><a href="/new/journalist" ng-hide="current_user.accepted_at || current_user.rejected_at || current_user.requested_at">Become a CN Journalist</a></li>
            <li><a href="/admin" ng-show="current_user.admin">Admin</a></li>            
            <li class="divider"></li>
            <li ><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<div ng-controller="AlertCtrl">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="LoginCtrl">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <form ng-submit="login()">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" ng-model="session.email" class="form-control" required/>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" ng-model="session.password" class="form-control" required/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="session.remember_me" type="checkbox" checked> Remember me
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="Submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="SignUpCtrl">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Account</h4>
      </div>
      <form ng-submit="signUp()">
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="">First Name</label>
              <input type="text" ng-model="registration.first_name" class="form-control"/>
            </div>
            <div class="form-group col-sm-6">
              <label for="">Last Name</label>
              <input type="text" ng-model="registration.last_name" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" ng-model="registration.email" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" ng-model="registration.password" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" ng-model="registration.confirm" class="form-control"/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="registration.remember_me" type="checkbox" checked> Remember me
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="Submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>