<div class="iphone-background hidden-xs">
  <div class="jumbo">
    <h1 class="jumboh1"><br>Great News: Great News</h1>
    <h3>You've been brought here today to <a href="https://twitter.com/search?q=%20%23RethinkJournalism&src=typd"><u>#RethinkJournalism</u></a></h3>
    <br>
    <br>
    <h3>Request Your Invitation</h3>
    <br>
    <form class="form-inline center-form" ng-submit="createInvitation()" role="form">
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Email</label>
        <input ng-model="invitation.email" required type="email" class="form-control" id="exampleInputPassword2" placeholder="Email">
      </div>
      <div class="form-group">
        <div class="input-group">
          <label class="sr-only" for="exampleInputEmail2">Twitter</label>
          <div class="input-group-addon">@</div>
          <input ng-model="invitation.handle" required type="text" class="form-control" id="exampleInputEmail2" placeholder="Twitter (optional)">
        </div>
      </div>
      <button type="submit" class="btn btn-default">Send Request</button>
    </form>
  </div>
</div>
<div class="iphone-background visible-xs">
  <div class="jumbo-xs">
    <h2>Great News: Great News</h2>
    <h4>You've been brought here today to <a href="https://twitter.com/search?q=%20%23RethinkJournalism&src=typd"><u>#RethinkJournalism</u></a></h4>
    <h3>Request Your Invitation</h3>
    <br>
    <form class="form-inline center-form" ng-submit="createInvitation()" role="form">
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Email</label>
        <input ng-model="invitation.email" required type="email" class="form-control" id="exampleInputPassword2" placeholder="Email">
      </div>
      <div class="form-group">
        <div class="input-group">
          <label class="sr-only" for="exampleInputEmail2">Twitter</label>
          <div class="input-group-addon">@</div>
          <input ng-model="invitation.handle" required type="text" class="form-control" id="exampleInputEmail2" placeholder="Twitter (optional)">
        </div>
      </div>
      <button type="submit" class="btn btn-default">Send Request</button>
    </form>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title-text">Great News: Great News</h1>
      <p class="subtitle-text">A New Kind of News is Possible - Request Your Invitation Today. <small class='text-muted'>By Adam Braus</small></p>
      <div class='body-text'>
        <b>News Industry Struggling</b><br>
        <p class='indent'>
          You've heard that newspapers are struggling; in television the 24 hour news cycle is the rule; on the internet its hard to differentiate between "viral" content and news; and across all news, the dangerous and deceptive practice of native advertising is becoming common place. New media news organizations claim they are to here to help, but new media looks and behaves a lot like old media.
        </p>
        <b>News Industry Incentives</b><br>
        <p class='indent'>
          New and old news organizations are structured in a similar way. Investors want to make profit from advertising and subscriptions. They hire journalists to produce news and a sales team to sell advertising space to companies. There used to be a wall that stood between the journalists and the sales people, between "church and state", between profit and honest news. But now money and news are mixing. There is no better example of this than native advertising: the practice of making paid advertisments look decevingly like factual news.
        </p>      
        <b>What is the Solution?</b><br>
        <p class='indent'>
          Society needs honest in depth news to function and to improve, but the natural evolution of technology and increased competition has made the traditional model where "church and state" are separated no longer commercially viable. The goal of <b>Second Street Post</b> is to solve this problem, to create a system that sustains quality unbiased news. 
        </p>
        <b>Crowdfunding the News</b><br>
        <p class='indent'>
          A the same time as mobile and internet technology was torpedoing the profits of newspapers, that verys same technology was creating something entirely new: Crowd Funding. Sites like Kickstarter and Indiegogo began to allow audiences to pay for the development of something up front, whether artwork or a documentary or a product. Crowd funding funds go directly to the artists, filmakers, or entrepreneurs with minimal going to the platform to support the marketplace. Second Street Post aims to employ the same "crowd dynamic" in the realm of the news. Second Street Post puts you, the reader, directly in touch with journalists who are producing stories that are relevant to your tastes, passions, and interests. Sound interesting? To learn more and to receive an invitation to our private beta, request your invitation below with your email and twitter handle.
        </p>
      </div>
    </div>
  </div>
</div>